# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [30]:
L=[]
for x in range(1,5,1):
    print(x)
    L.append(x)
print(L)

1
2
3
4
[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [13]:
L1=[1,2,3,4]
del L1[2]

In [14]:
L1

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [15]:
L2=[2,3,4]
L2.insert(0,"1")

In [16]:
L2

['1', 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [19]:
L3=[1,2,3,4]
L3.insert(2,"two-and-half")

In [20]:
L3

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [21]:
phrase = "Don't panic!"
a=list(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [3]:
a=['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']
a.remove("'")
b=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']
b.remove("!")

In [2]:
a

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [3]:
b

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

Question:  Remove "p" , "a", "n","D" and extend at the last

In [8]:
c=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
c.remove("D")
c.remove("i")
c.remove("c")
c.insert(4,"i")
c.insert(5,"c")
c.extend("D")

In [9]:
c

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [25]:
x=['p', 'a', 'n', 'D','a']
i=0
z=""
while i<len(x):
    if str(x[i]).isalpha():
        z=z+x[i]
    i+=1

In [27]:
z

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [15]:
def nums(x):
    return x
var=nums((31,24,35,85))

In [16]:
print(var)
print("Data type is :",type(var))

(31, 24, 35, 85)
Data type is : <class 'tuple'>

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [17]:
l=(31, 24, 35, 85)
l1=list(l)
print(l1)
l1=[31, 24, 35, 85]
del l1[2]
tuple(l1)

[31, 24, 35, 85]

(31, 24, 85)

**Extent** tuple (85,19)

In [23]:
l2=(31,24,85)
l3=list(l2)
print(l3)
l3.insert(3,19)
l3.insert(3,85)
tuple(l3)

[31, 24, 85]

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [53]:
tpl = ('i','n''n','0')
if "i" in tpl:
    print("True")

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [19]:
b = ['Hello',100,[],'innomatics']
b.insert(2,[200])
del b[3]
print(b)

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [2]:
my_string="Innomatics"
x=list(my_string)
print("Reverse of string with split are :",x[::-1])

Reverse of string with split are : ['s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I']

In [5]:
tpl = (1,2,3)+(4,)
x=(list(tpl))
print(tuple(x))

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [27]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([i[0:]+(100,) for i in tpl])

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [26]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([i[:-1]+(100,) for i in tpl])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [12]:
x='523665'
y=set(x)
z=list(y)
z.sort(reverse=True)
print(z)
print("The second highest value is :",z[1])

['6', '5', '3', '2']
The second highest value is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [36]:
x=[12,24,35,70,88,120,155]
x.pop(0)
x.pop(3)
x.pop(3)
print(x)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [4]:
x=(1,2,3,4,5,6,7,8,9,10)
print(list(x))
for i in range(0,10,5):
    y=tuple(x[i:i+5])
    print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [13]:
def f1(z,y):
    print(z,y)
var1=f1((1,2,3,4,5,6,7,8,9,10),(2,4,6,8,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) (2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
#        List                        -            Tuple
#    List is a collection data type  -   Tuple is also a collection data type
#    Mutable                         -   Immutable
#    Ordered/Indexed                 -   Ordered/Indexed  
#    Allow duplicate members         -   Allow duplicate members
#    Empty list=[]                   -   Empty tuple=()
#    List with single item=["Hello"] -   Tuple with single item = ("Hello")
#    It can store any data types-str,-   It can store any data types-str,
#    list,set,tuple,int,dict             list,set,tuple,int,dict

### 2. Explain the difference between append() and extend() with examples

In [ ]:
#         append()                    -     extend()
#   append() function inserts a single-     Iterates over its argument and adding each 
#   element into an existing element.       element to the list and extending the list.
                                        
#   The element will be added to the  -     The length of the list increases by a number of 
#   end of the old list rather than         elements in its argument.
#   being returned to a new list.                                    
   
#   The length of the list increases  
#   by one.

In [2]:
#  append()-Eg.
x=[1,2,"a","b"]
x.append("c")
print(x)

[1, 2, 'a', 'b', 'c']

In [8]:
#  extend()-Eg.
y=["l","m"]
y.extend([3,4,5])
print(y)

['l', 'm', 3, 4, 5]

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
#          pop()                             -       remove()
# pop() is an inbuilt function in python that-  The remove() method takes a single element as an
# removes and returns the last value from the   argument and removes it from the list.
# List or the given index value.             -  If the element doesn't exist, it throws ValueError:
#                                               list.remove(x): x not in list exception.
#                                            -  If a list contains duplicate elements, the remove() 
#                                               method only removes the first matching element.

In [9]:
#   pop()=Eg.
y.pop()
print(y)

['l', 'm', 3, 4]

In [18]:
#  remove()-Eg.
y.remove("m")
print(y)

['l', 3, 4]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)