# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
person1={}
person1.update({'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'})

In [2]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [7]:
x=list(person1.keys())

In [8]:
print(x)

['Gender', 'Location', 'Name', 'Occupation']

> **`Question:` Remove Location in person1**

In [13]:
del person1["Location"]

In [14]:
person1

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [15]:
person2={}
person2.update({'Age': 25,'Gender': 'Male','Name': 'Raghu Ram','Occupation': 'Data Scientist'})

In [16]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [29]:
print("==================== person1 ====================")
print({'Gender': 'Male','Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'})
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [17]:
y={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
y.clear()

In [18]:
print(y)

{}

In [23]:
y={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
del y[1]
del y[2]
del y[3]
del y[4]
del y[5]
del y[6]
del y[7]

In [24]:
y

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [39]:
import operator
z={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9:81}
descending_order=sorted(z.items(),key=operator.itemgetter(1),reverse=True)

In [41]:
descending_order

[(9, 81), (7, 49), (5, 25), (3, 9), (1, 1), (0, 0)]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [46]:
def merge(dict1,dict2,dict3):
    res={**dict1,**dict2,**dict3}
    return res

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
print(merge(dict1,dict2,dict3))

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

def f(emp1,emp2,emp3):
    sample_dict = {'emp1': {'name': 'Jhony', 'salary': 7500},'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [8]:

    sample_dict = {
        'emp1': {'name': 'Jhony', 'salary': 7500},
        'emp2': {'name': 'Ravi', 'salary': 8000},
        'emp3': {'name': 'Charan', 'salary': 6500}
                }

In [20]:
x=sample_dict["emp3"]["salary"]="8500"
x=sample_dict["emp3"]

In [21]:
x

{'name': 'Charan', 'salary': '8500'}

Question:Print the value of key "history" from the below dict

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [5]:
 
    x = {
        "class": {
            "student": {
                "name": "Mike",
                "marks": {
                    "physics": 70,
                    "history": 80
                }
            }
        }
    }

In [7]:
y=x["class"]
a=y["student"]
b=a["marks"]
b["history"]

80

In [9]:
# By another method
y=x["class"]["student"]["marks"]["history"]

In [10]:
y

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [4]:
x={'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John', 'Occupation': 'Data Scientist'}
del x["Location"]
x["Area"]="Nizampet, Hyderabad"

In [5]:
x

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [7]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
x=input("Enter the name :")
y=input("Enter the password :")
if x=="ram" and y=="1234":  
    print("hello",format(x))
elif x=="raghu" and y=="5678" or x=="kanav" and y=="1357":
    print("hello",format(x))
elif x=="ram" and y!="1234" or x=="raghu" and y!="5678" or x=="kanav" and y!="1357":
    print("you want me to add in database")

Enter the name :ram
Enter the password :1234
hello ram

In [8]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
x=input("Enter the name :")
y=input("Enter the password :")
if x=="ram" and y=="1234":  
    print("hello",format(x))
elif x=="raghu" and y=="5678" or x=="kanav" and y=="1357":
    print("hello",format(x))
elif x=="ram" and y!="1234" or x=="raghu" and y!="5678" or x=="kanav" and y!="1357":
    print("you want me to add in database")

Enter the name :ram
Enter the password :4321
you want me to add in database

In [12]:
database.update({"ram":4321})

In [13]:
print(database)

{'ram': 4321, 'raghu': 5678, 'kanav': 1357}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)