# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [4]:
def vol(r):
    volume=4.0/3.0*22/7*r**3
    print("volume of sphere is :",volume)
vol(5)

volume of sphere is : 523.8095238095239

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [12]:
def ran_check(num,low,high):
        if num>=1 and num<=10:
            print("The number is in range")
        else:
            print("Not in range")
ran_check(15,1,10)

Not in range

In [16]:
ran_check(9,1,10)

The number is in range

If you only wanted to return a boolean:

In [15]:
def ran_bool(num,low,high):
        if num>=1 and num<=10:
            return True
        else:
            return False
ran_bool(15,1,10)

False

In [17]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [29]:
def up_low(s,i=0,u=0,l=0):
    while i<len(s):
        if s[i].isupper():
            u+=1   
        elif s[i].islower():
            l+=1
        i+=1
    print("No. of Upper case characters :",u)  
    print("No. of lower case characters :",l)
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

No. of Upper case characters : 4
No. of lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [32]:
def unique_list(l):
    x=set(l)
    return list(x)

In [33]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [2]:
def multiply(num):
    mul=1
    for y in num:
        mul=mul*y
    return mul
multiply([1,2,3,-4])

-24

In [3]:
multiply([3,2,3,-4])

-72

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [9]:
def palindrome(s):
        if s==s[::-1]:
            print("Your string is palindrome")
        else:
            print("Your string is not palindrome")

In [10]:
palindrome('madam')

Your string is palindrome

In [11]:
def palindrome(s):
        if s==s[::-1]:
            return True
        else:
            return False

In [12]:
palindrome('helleh')

True

In [13]:
palindrome('hyderabad')

False

## Given a number N.Find Sum of 1 to N Using Recursion

In [2]:
# CODE HERE
def summation(n):
 #Code here


n = int(input())
sum = summation(n)
print(sum)

10
55

In [1]:
def summation(n,i=1,sum=0):
    while i<n:
        sum=sum+i
        i+=1
    print("sum of natural numbers upto 10 is : ",sum)

In [3]:
summation(11)

sum of natural numbers upto 10 is :  55

Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [2]:
def printList(*var):
    l=[]
    for y in var:
        l.append(y**2)
    return l
printList(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [2]:
def printDict(i):
    d={}
    a=1
    while a<=i:
        d.update({a:a*a})
        a+=1    
    return d.keys()
    
       
printDict(20)

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [1]:
def f1(x):
    y=x.split(" ")
    for a in y:
        z=len(a)
        print(a,z)
f1("innomatics research labs")

innomatics 10
research 8
labs 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [1]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Code here

print(list(squaredNumbers))  # converting the object into list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
li=list(map(lambda b:b**2,[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))
print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [3]:
def even(*x):
    l=[]
    for y in x:
          l.append(y%2==0)
    return l
even(1,2,3,4,5,6,7,8,9,10)

[False, True, False, True, False, True, False, True, False, True]

In [6]:
y=list(filter(lambda x:x%2==0,[1,2,3,4,5,6,7,8,9,10]))

In [14]:
z=print(y)

[2, 4, 6, 8, 10]

In [17]:
a=list(map(lambda b:b**2,[2,4,6,8,10]))

In [18]:
a

[4, 16, 36, 64, 100]

In [2]:

def even(x):
#Code here


def squer(x):
    #Code here


li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# code here
# first filters number by even number and the apply map() on the resultant elements
print(list(li))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [2]:
def even(y,l=[]):
    if y%2==0:
        l.append(y)
        return l
evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
# CODE HERE
def even(x):
#code here


evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [4]:
def f(n,a=0,b=1):
    if n<=1:
        return n
    else:
        return f(n-1)+f(n-2)
    


for n in range(1,10):
    print(f(n))

1
1
2
3
5
8
13
21
34

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)