Machine Learning Assignment - 1

This assignment is a part of basic NLP using text preprocessing and text transformation..

Data_Set_Name: Corona Analysis

To Do Steps:
    1) Try to convert your csv files into dataframe with both  features and labels
    2) Apply text preprocessing on the given data set
    3) Apply Bag of words and TF-IDF
    4) Create a PPT which explains what text preprocessing have you done

In [1]:
import numpy as np
import pandas as pd
import re
import nltk 
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.stem import PorterStemmer,LancasterStemmer,SnowballStemmer,WordNetLemmatizer
from nltk.corpus import stopwords

In [3]:
data=pd.read_csv(r"C:\Users\SSS\Downloads\Corona_NLP_train\Corona_NLP_train.csv",engine='python',encoding="ISO-8859-1")
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [4]:
stp=stopwords.words("english")
print(stp)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [5]:
stp.remove("not")

In [6]:
"not" in stp

False

In [7]:
d=data.loc[0]["OriginalTweet"]
d

'@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/iFz9FAn2Pa and https://t.co/xX6ghGFzCC and https://t.co/I2NlzdxNo8'

In [5]:
re.findall("https://\S*",d)

['https://t.co/iFz9FAn2Pa',
 'https://t.co/xX6ghGFzCC',
 'https://t.co/I2NlzdxNo8']

In [6]:
re.sub("(https://)\S*","",d)

'@MeNyrbie @Phil_Gahan @Chrisitv  and  and '

In [7]:
re.sub("https://\S*","",d)

'@MeNyrbie @Phil_Gahan @Chrisitv  and  and '

In [8]:
new_l=[]
for sent in data["OriginalTweet"]:
    l=[]
    ls=sent.lower()
    ls=re.sub("<.*?>"," ",ls)
    ls=re.sub("https://\S*","",ls)
    ls=re.sub("[^a-zA-Z ]","",ls)
    
    for word in word_tokenize(ls):
        if word in stp or len(word)<=2:
            pass
        else:
            lm=WordNetLemmatizer().lemmatize(word)
            l.append(lm)
    new_l.append(" ".join(l))        
cleaned_data=pd.DataFrame({"Cleaned_tweet":new_l}) 
cleaned_data

                                           Cleaned_tweet
0                            menyrbie philgahan chrisitv
1      advice talk neighbour family exchange phone nu...
2      coronavirus australia woolworth give elderly d...
3      food stock not one emptyplease dont panic enou...
4      ready supermarket covid outbreaknot paranoid f...
...                                                  ...
41152  airline pilot offering stock supermarket shelf...
41153  response complaint not provided citing covid r...
41154  know getting tough kameronwilds rationing toil...
41155  wrong smell hand sanitizer starting turn oncor...
41156  tartiicat well newused rift going amazon altho...

[41157 rows x 1 columns]

In [25]:
cleaned_data.loc[0]["Cleaned_tweet"]

'menyrbie philgahan chrisitv'

In [12]:
data[data["Location"].isnull()]

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
14,3813,48765,NaN,16-03-2020,ADARA Releases COVID-19 Resource Center for Tr...,Positive
22,3821,48773,NaN,16-03-2020,We have AMAZING CHEAP DEALS! FOR THE #COVID201...,Extremely Positive
23,3822,48774,NaN,16-03-2020,We have AMAZING CHEAP DEALS! FOR THE #COVID201...,Extremely Positive
...,...,...,...,...,...,...
41148,44947,89899,NaN,14-04-2020,UV light Sterilizer Sanitizer for your mask an...,Extremely Positive
41151,44950,89902,NaN,14-04-2020,@MrSilverScott you are definitely my man. I fe...,Extremely Positive
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral

In [21]:
data=data[~data["Location"].isnull()]
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,As news of the regionÂs first confirmed COVID...,Positive
6,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive
...,...,...,...,...,...,...
41147,44946,89898,"Brooklyn, NY",14-04-2020,YÂall really shitting that much more at home?...,Negative
41149,44948,89900,"Toronto, Ontario",14-04-2020,Still shocked by the number of #Toronto superm...,Negative
41150,44949,89901,OHIO,14-04-2020,I never that weÂd be in a situation &amp; wor...,Positive
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [22]:
data=data.reset_index(drop=True)
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,As news of the regionÂs first confirmed COVID...,Positive
4,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive
...,...,...,...,...,...,...
32562,44946,89898,"Brooklyn, NY",14-04-2020,YÂall really shitting that much more at home?...,Negative
32563,44948,89900,"Toronto, Ontario",14-04-2020,Still shocked by the number of #Toronto superm...,Negative
32564,44949,89901,OHIO,14-04-2020,I never that weÂd be in a situation &amp; wor...,Positive
32565,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
32566,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [ ]:
data.to_csv("C:\corona\data.csv")

In [7]:
import pandas as pd
data=pd.read_csv(r"C:\corona\data.csv",engine='python',encoding="ISO-8859-1")
data

,Unnamed: 0,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3,3804,48756,"ÃÂT: 36.319708,-82.363649",16-03-2020,As news of the regionÃÂs first confirmed COV...,Positive
4,4,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive
...,...,...,...,...,...,...,...
32562,32562,44946,89898,"Brooklyn, NY",14-04-2020,YÃÂall really shitting that much more at hom...,Negative
32563,32563,44948,89900,"Toronto, Ontario",14-04-2020,Still shocked by the number of #Toronto superm...,Negative
32564,32564,44949,89901,OHIO,14-04-2020,I never that weÃÂd be in a situation &amp; w...,Positive
32565,32565,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
32566,32566,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [8]:
data=data.drop("Unnamed: 0",axis=1)
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3804,48756,"ÃÂT: 36.319708,-82.363649",16-03-2020,As news of the regionÃÂs first confirmed COV...,Positive
4,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive
...,...,...,...,...,...,...
32562,44946,89898,"Brooklyn, NY",14-04-2020,YÃÂall really shitting that much more at hom...,Negative
32563,44948,89900,"Toronto, Ontario",14-04-2020,Still shocked by the number of #Toronto superm...,Negative
32564,44949,89901,OHIO,14-04-2020,I never that weÃÂd be in a situation &amp; w...,Positive
32565,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
32566,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [6]:
len(data["Location"].unique())

12220

In [7]:
data["Location"].unique()

array(['London', 'UK', 'Vagabonds', ..., 'Juba south sudan', 'OHIO',
       'i love you so much || he/him'], dtype=object)

In [10]:
data_list=[]
for i in data["Location"].unique():
    data_list.append(i)
data_list

['London',
 'UK',
 'Vagabonds',
 'Ã\x83Â\x9cT: 36.319708,-82.363649',
 '35.926541,-78.753267',
 'Austria',
 'Atlanta, GA USA',
 'BHAVNAGAR,GUJRAT',
 'Makati, Manila',
 'Pitt Meadows, BC, Canada ',
 'Horningsea',
 'Chicago, IL',
 'Houston, Texas',
 'Saudi Arabia',
 'Ontario, Canada',
 'North America',
 'Denver, CO',
 'southampton soxx xxx',
 'Global',
 'Downstage centre',
 'Ketchum, Idaho',
 'Everywhere You Are!',
 'New York, NY',
 'Someplace, USA',
 'Markham, Ontario',
 'Virginia, USA',
 'London, England',
 'Sverige',
 'Where The Wild Things Are',
 'Canada',
 'United States',
 'Fort Worth, Texas',
 'Houston',
 'Vancouver, British Columbia',
 'Midrand',
 'Drogheda',
 'Columbia, MO',
 'Arkansas, USA',
 'Washington, DC',
 'Ohio, USA',
 'Ogden, UT',
 'West Midlands, England',
 'Reno, NV',
 'San Clemente',
 'Spokane Valley, WA',
 'Drifter ',
 'Hamilton, Ontario',
 'Dallas, TX',
 'Boston',
 'The European Union',
 'Melissa Schuman is a Liar ??',
 'Canvey Island, Essex, UK',
 'NCSU',
 'Morgantown, WV',
 'MA & New England by way of CA',
 'Napa, Ca',
 'New York City',
 'Cornwall England',
 'Boston, MA',
 'Whittier, CA',
 'Great Wakering Essex',
 'Andersonville, Chicago, IL',
 'Sydney, Australia',
 'Barnsley, England',
 'Bangkok, Thailand',
 'Windsor, Ontario, Canada.',
 'Los Angeles, mostly',
 'Houston, TX',
 'KDH',
 'Worcester, Massachusetts',
 'Leicester, England',
 'Adelaide, South Australia',
 'FREE goal setting guide ??',
 'San Joaquin Valley CA',
 'Planet Earth',
 'Portsmouth, England',
 'London, UK and....',
 'USA',
 'I try to be politics free but will comment on Trump/GOP policy as the news is dominating tape.',
 'd.',
 'Abilene, TX',
 'Los Angeles, CA',
 'Kansas',
 'Fort Wayne, IN',
 'Lots of different places',
 'Berkshire, England',
 'Long Beach, Calif., USA',
 'Melbourne, Australia',
 'Wakefield, England',
 '????? ???? ????????',
 'Pennsylvania, USA',
 'LA ',
 'Charlotte, NC',
 'Mountain View',
 'Michigan',
 ' Malaysia',
 'The Great State of Texas',
 'Nairobi',
 'Dunedin City, New Zealand ',
 'Phoenix, AZ',
 'Columbus, Ohio',
 'Adelaide, Australia',
 'Arizona',
 'Rear spot ?',
 'North Carolina, USA',
 'Global citizen',
 'Toronto, Ontario',
 'Nairobi, Kenya',
 'Palo Alto, CA',
 'Scunthorpe, England',
 'Nottinghamshire',
 'Columbia, MD, United States',
 'Hogwarts - Jamaica',
 'Nowhere',
 'Scotland',
 'Camberley, UK',
 'Blue State',
 'British Columbia, Canada',
 'Douglas, AZ',
 'London/South East',
 'Euless, TX',
 'Philadelphia, PA',
 'Oxford, OH',
 'Worldwide',
 'Cleveland, OH',
 'Malaysia',
 'India',
 'Italy',
 'Kent, UK',
 'London | New York | Munich',
 'West Hollywood, CA',
 'Fujairah, UAE.',
 'OnTheEdgeSEMelbourne',
 'somewhere windy',
 'Las Vegas, NV',
 'Commonwealth of Massachusetts',
 'Cambridge, MA',
 'Arenys de Mar, PaÃ\x83Â¯sos Catalans',
 'Arlington, VA',
 'Arizona, USA',
 'Bowie, MD',
 'Deep in the Wildernes',
 'Maidenhead',
 'Montreal, QC',
 'Townsend, TN',
 'South West, England',
 'Kelowna BC Tel Aviv Israel',
 'NoVA',
 'Portland, OR',
 'Buffalo, NY',
 'Jackson Heights, NY',
 'South Africa',
 'Missouri, USA',
 'ISB || DXB || HANOVER || MAN ',
 'Florida, USA',
 'California, USA',
 'San Diego, CA',
 'Global newsroom',
 'Right behind you :)',
 'An Uber Away',
 'Peterborough',
 'Chicago',
 'Orlando, Fl',
 'New York City - Philippines',
 'LDN, CHI, SHG & worldwide',
 'out of this world',
 'Dublin-Gray-Gordon-Houston Co-Statesboro-Brooklet',
 'Mojave Desert, United States',
 'Sandy, UT',
 'Granby, Colorado',
 'Lurking',
 'Toronto',
 'Fairfax, Virginia',
 'Australia',
 'Sydney',
 'Lahore, Pakistan',
 'Melbourne, FL',
 'Vail, CO',
 'Shanghai',
 'Orange County, CA',
 'Kuala Lumpur City, Kuala Lumpu',
 'Rangia, Assam, India',
 'Media City, Salford',
 'Gombak,Selangor',
 'Princeton, NJ',
 'Orlando, FL',
 'On Your Timeline',
 'San Francisco, CA',
 'Tara Hills, CA',
 'Tennessee ',
 '16 Greevegate, Hunstanton',
 'North Wales, UK',
 'Bhubaneshwar, India',
 'Portland, Ore.',
 'Belgium',
 'Yorkshire',
 'Washington, D.C.',
 'South Africa ??',
 'Sunnyvale, CA',
 'Windsor, Ontario',
 'Manchester, UK',
 'Dja Dja Warrung Land',
 'Newcastle Upon Tyne, England',
 'castleford',
 'Haedo, Bs. As., Argentina',
 'England, Australia, USA',
 'Boise, ID',
 'Wicklow, Ireland',
 'Helsinki, Finland',
 '127.255.255.255',
 'University Park, PA',
 'Maidenhead UK',
 'Maryland, USA',
 'Denmark',
 'denial',
 'Baltimore, MD',
 'Philippines',
 'Soweto',
 'Sarawak, Malaysia',
 'Altus, Arkansas USA',
 'Patna, India',
 'Accra | Ghana',
 'MKE',
 'Silicon Valley | SF | 39.5K Ft',
 'Westfield, NJ',
 'Ukraine',
 'Europa',
 'Toronto, Canada',
 'Arlington, TX',
 'Mumbai',
 'Accra, Ghana',
 'Everywhere & u are Never There',
 'Owensboro, KY ',
 'Portland, ME | Self-Quarantine',
 'United Kingdom',
 'Paris, France',
 'Minneapolis,  MN',
 'Bristol, England',
 'Scottsdale, AZ',
 'Portland, Oregon',
 'Somewhere gettin $$',
 'East Central Alberta',
 'Austin, Texas',
 'Madison (close enough), WI',
 'Berkeley, CA',
 'Kampala, Uganda',
 'Russia',
 'New York City Area',
 'Mumbai, India',
 'Edinburgh, Scotland ?????',
 'Latur & New Delhi',
 'Auburndale, MA',
 'Berlin, Germany',
 'New Brunswick, NJ',
 'Columbia, SC',
 'Islamabad, Pakistan',
 'Genesis',
 'Actionable advice here:',
 'Punjab, India',
 'Christchurch, New Zealand',
 'Milton Keynes, England',
 'Daylesford - Hepburn Springs, Victoria',
 'Wayne, NJ',
 'Central African Republic',
 'Karachi, Pakistan',
 'Hampshire',
 'West Yorkshire, England',
 'New York ',
 'Washington, DC & Cambridge, UK',
 'Cayman Islands',
 'Stamford, CT',
 'New Delhi, India',
 'Indiana',
 'Sarasota, FL',
 'Fife Heights, WA',
 'Netherlands',
 'choose your thoughts wisely ',
 'Cascade foothills in PNW',
 'nationwide gypsy based in LDN',
 'Nairobi ',
 'Benton, Arkansas ',
 'worldwide',
 'Wellington City, New Zealand',
 'England, United Kingdom',
 'New York',
 'Gazing at Mt Baker.',
 'Kuwait',
 'Canada, USA, Pakistan',
 'Kansas City, MO',
 'South Australia',
 'Seattle, WA',
 'Belfast',
 'United States, or Holland...',
 'Biloxi, Mississippi',
 'Sydney, New South Wales',
 'Earth',
 'George Town',
 'Des Moines, IA',
 'NZ born, Melbourne home',
 "Shanghai, People's Republic of",
 'Maine, USA',
 'Kansas City, Missouri',
 'Avon, Ohio',
 'Marlborough, Wiltshire',
 'Brookfield, Illinois',
 'Manchester',
 'TORONTO, LAS VEGAS',
 'Lagos, Nigeria',
 'San Francisco',
 'The Cosmos',
 'Berlin',
 'Texas, USA',
 '?????????',
 'Everett, WA',
 'Wonderland',
 'Disabled (with too many chromosomes) disease-ridden chronic illness & surgery survivor. Vegetarian resides MEL Disclaimer: RTs?endorsement!',
 'Detroit,MI USA',
 'Naples, Florida',
 'Manchester, England',
 'Upper Saddle River, NJ',
 'Scotland, United Kingdom',
 '7th Congressional District, WA',
 'Kuala Lumpur, Malaysia',
 'Beijing, China',
 'London, KY',
 'Northern Ireland',
 'Calgary, Alberta',
 'Regina, Saskatchewan Canada ',
 'Canada & USA',
 'UK, Wales, Ceredigion',
 'Lake Mary, FL',
 'Victoria, British Columbia',
 'North West, England',
 'San Francisco Bay Area',
 'Southeastern Pennsylvania',
 '?901',
 'Portland, ME',
 'To Infinity and Beyond',
 'Northern Red River Valley',
 'London, UK',
 'EVERYWHERE!',
 'Valencia County, New Mexico',
 'New Delhi & Goa',
 'Chicago, NYC, Orlando, LATAM',
 'Chennai, India',
 'Preston, England',
 'MENA Region',
 'Johnson City',
 'South Florida',
 'Greenville, NC',
 'Spartanburg, SC',
 'Harvest, AL',
 'York, England',
 'Trinidad and Tobago',
 'TaÃ\x83Â¯wan',
 'DFW',
 'Aschheim, Deutschland',
 'Sri Lanka',
 'Geneva, Switzerland',
 'Ottawa, Ontario',
 'Renton, WA',
 'Montreal',
 'Buzz City ',
 'MIA - MCO/BOS - PVD',
 'Issaquah, WA',
 'california...for now',
 'Amsterdam, The Netherlands',
 'Austin Metro Area, Texas, USA',
 'guantanamo',
 'glocal',
 "Jimin's glossy lips",
 'Montebello, CA',
 'LA - NYC',
 'Tempe, AZ',
 'Staten Island, NY',
 'South Carolina, USA',
 'Central PA',
 'Melbourne, Australia.',
 'the bay ?',
 'liv',
 'Chicago, Illinois',
 'london',
 'Pgh',
 'Manhattan, NY',
 'flavortown, USA',
 'France',
 'Shitty Birmingham ',
 'MontrÃ\x83Â©al, QuÃ\x83Â©bec',
 'Dundee, Scotland',
 'Indianapolis IN',
 'Irvine, CA',
 'Locarno, Switzerland',
 'America',
 'Near president Trump',
 'Staying humble',
 'Wallasey, England',
 'PHL/NYC',
 'thra',
 'Karachi',
 'They/she, Nb, bi',
 '???',
 'TX',
 '...',
 'Bay Area, Ca',
 'Roanoke, VA / Gatlinburg, TN',
 'Loveland, CO',
 'Europe, Caribbean, Africa',
 'Everywhere + Nigeria + Globe',
 'South West Florida',
 'KHOBAR | RIYADH ',
 'Joburg and wherever life takes',
 'Niagara, Ontario',
 'Northern England',
 'San Mateo County, California',
 'portland',
 'Birmingham all my life',
 'Royal Leamington Spa',
 'New South Wales, Australia',
 'New England',
 'ware',
 'Wilmington, DE',
 'Cairo, Egypt',
 'Tampa Florida',
 'Chicago Heights, IL',
 'Bern, Switzerland.',
 'Dubai, United Arab Emirates',
 'Northern New Jersey',
 'Strensall, North Yorkshire, UK',
 'on your nerves',
 'SoCal',
 'Mars',
 'Huddersfield, West Yorkshire',
 'News & Bible verses USA',
 'Richmond, Va.',
 'Regina, Canada',
 'BACK TO THE WOODS Phila, PA',
 'Kcmo',
 'malaysia',
 'PHL',
 'Sheffield | Birmingham',
 'Singapore',
 'Next door ',
 'Dortmund? Stuttgart? Fatsa?',
 'Amsterdam',
 'London/Essex',
 '? No DMs; contact Me here ?',
 'England, United Kingdom ???',
 'Western NC, USA',
 'The Internet',
 'Hong Kong',
 '??',
 'Wadi el-Yawant.',
 'Southern ',
 'Queens, NY',
 'potts point',
 'Anime Hell',
 'CumiÃ\x83Â¨res-le-Mort-Homme, France',
 'Sungai Buloh, Selangor',
 ' Pakistan',
 'A White Room',
 'SÃ\x83Â¥ lÃ\x83Â¥ngt ifrÃ\x83Â¥n, sÃ\x83Â¥ nÃ\x83Â¤ra',
 'South Holland, The Netherlands',
 'Selangor, Malaysia',
 ' ?? ???? ??? ????? ??????? ',
 'Hardoi, Ahemdabad, India',
 'Sth Gippsland',
 'Room LoL',
 'He/him pre-t',
 'Protocol 16',
 'Latibule ',
 'Office 302, Al Attar Business ',
 'DurhamNH/CambridgeMA/Wakanda',
 'Kreis Viersen Germany ',
 'Edinburgh, Scotland',
 'Cyberjaya',
 'kkura',
 'Cymru',
 'I fly FedEx Cargo  ',
 'North Rhine-Westphalia, Germany',
 'Denver, Colorado',
 'Nevada',
 '954',
 'Parys, South Africa',
 'New York, USA',
 'Deadpool is my Patronus ',
 '#LeafNation #MagicFairyStyle ',
 'She/ her',
 'Northern AB/HRM NS',
 'New Zealand',
 'The Depths of Findom',
 'Central Texas',
 "Hell, if I don't change my way",
 'Twilight Zone aka America ?',
 'Kentucky, USA',
 'You have no power over me.',
 'Perth, Western Australia',
 'Dublin',
 'Irelande du Nord',
 ':.midcoast.maine.:',
 'Sheffield, United Kingdom ',
 'Maine',
 'Western Canada & Your Dreams',
 ' in the south west of England',
 'CA-FL-HI-OR-LV',
 'Mid-Michigan',
 'Culver City, CA',
 'Palmetto State, USA / Washington, DC',
 'Brooklyn, NY',
 'Atlanta, GA',
 'Doha, Qatar',
 'Greater Hobby Area, Houston',
 'Somewhere, Global ',
 'Dubai, UAE',
 'Kigali | Rwanda ',
 'Birmingham, England',
 'London, ON',
 'Alabama',
 'Everywhere',
 'Jersey',
 'Sheffield, the North',
 'San Luis Obispo, CA',
 'AFRICA.',
 'Johannesburg',
 'Tatooine',
 'Oak Park, IL',
 'Paris',
 'Los Angeles, Kalifornia ',
 'Turfloop, South Africa',
 'Ontario',
 'Montgomery, Alabama',
 'HYD',
 'Ã\x83Â\x9cT: 50.415269,-105.601237',
 'St. Louis',
 'Barcelona, CataluÃ\x83Â±a',
 'Dubai',
 'Santa Cruz, CA',
 'Moscou, Russie',
 'New Orleans',
 'Florida',
 'Mosul, Iraq',
 'Plymouth, MN',
 'Winchester UK',
 'Ireland ',
 'Springfield, Illinois',
 'Michigan, USA',
 'Estambul, TurquÃ\x83Â\xada',
 'Nashville, TN',
 'Sheffield.',
 'Kenya & Tennessee',
 'Bangalore, INDIA',
 'Pakistan',
 'Hereford, England',
 'Richmond, VA',
 'Turkey',
 'Sacramento, CA',
 'Naboo',
 'Tel-Aviv',
 'Ohio',
 'Indonesia',
 'New Orleans, Louisiana',
 "N 36Ã\x82Â°6' 0'' / W 115Ã\x82Â°6' 0''",
 'Taunton, England',
 'Honolulu, Hawai?i',
 '?Southern California',
 'The Netherlands',
 'Mumbai,India',
 'Bognor Regis, England',
 'Tennessee, USA',
 'In the kitchen',
 'Tennessee',
 'Old Calcutta ',
 'Wichita, KS',
 'Lewiston, ID',
 'The Stones Call',
 'Tilburg The Netherlands',
 '????',
 'Emerging Markets',
 'Vermont ',
 'Mapperley, England',
 'Shropshire',
 'Edmonton, Alberta',
 'Berlin, Deutschland',
 "That's me in the corner ",
 'Jersey Shore',
 'San Jose, CA',
 'Present Day. Present Time.',
 'Atlanta, Georgia',
 "Beijing, People's Republic of ",
 '#BayArea #SouthBay Bureau',
 'Winnipeg, MB',
 'Wa,Ghana.',
 'Its all the same.',
 'Borehamwood, Hertfordshire',
 'Vancouver, Canada',
 'Oklahoma, USA',
 'Baton Rouge, LA',
 'Connecticut, USA',
 'Jersey, UK',
 'Barrie, Ontario',
 'Central Coast, Australia',
 'Stockport, England',
 'Huntington Beach, CA',
 'AT&T Park',
 'NYC, SH, PB, DEN',
 'Knoxville, TN',
 'Leeds - UK',
 'Dartmouth, NS',
 'Clunes (Vic.), Victoria',
 'Belmont, MA',
 'Burnham, PA',
 'Warrington, UK',
 'Memphis, TN',
 'Devon',
 'Zummerzet',
 'North West',
 'Utah, USA',
 'South Hill VA',
 'Ghaziabad, India',
 'kolkata',
 '?????, ???? & London,England ',
 'Australia,somewhere.',
 'https://www.youtube.com/watch?v=X7_SCzowzR4',
 'Edmonton Alberta',
 'Undisclosed Location ',
 'Los angeles',
 'Omaha, NE',
 'Rural GA a minor level of hell',
 'Kuala Lumpur',
 'Murcia y CastellÃ\x83Â³n. EspaÃ\x83Â±a.',
 'Hertfordshire',
 'Africa',
 'Southern California',
 'Kolkata, India',
 'Lawrence, MA',
 'Here and There',
 'Norwich, England',
 'Cincinnati, Ohio',
 'Copenhagen',
 'Zimbabwe',
 'Canberra, Australia',
 'beeboverse',
 'Rwanda',
 'Raleigh NC USA',
 'Schenectady, NY',
 'Manchester ',
 'Conwy, Wales',
 'West Virginia, USA',
 'One Planet',
 'South Plainfield, New Jersey',
 'Saskatoon',
 'WorldWide',
 'Content is not advice',
 'Beijing',
 'Charleston, SC',
 'Guelph, ON',
 'Winnipeg, Manitoba, Canada',
 'Southampton, England',
 'Caledon, Ontario',
 'Capital Region, NY, USA',
 'Cape Town, South Africa',
 'Rome, Lazio',
 'Australia ',
 'Australia, Asia and Europe',
 'South Central Pennsylvania',
 'oxford, ohio',
 'SE North Dakota',
 'High Wycombe, England',
 'Yorkshire and The Humber',
 '? #Mayenne #France ? ',
 'SEOUL. ATL. NYC. LA.',
 'Riverside, CA',
 'College Station, TX',
 'Windsor, Ontario, Canada',
 'Tampa FL',
 'New England, USA',
 'Wiltshire UK',
 'PNW',
 'USC #classof2019',
 'Vancouver, BC, Canada',
 'England',
 'SoCo RI via K-ville PA',
 'Zurich',
 'Cambridge, England',
 'Boston, Massachusetts USA',
 'Plumsteadville, PA',
 'Yuma, AZ',
 'Rhu, Argyll & Bute',
 '#Alpes',
 'Here, there, everywhere ',
 'Southaven, MS',
 'Upstate, NY ',
 'England and Wales',
 'Ventura County, CA',
 'Bridgeport, CT',
 'Wildeshausen',
 'crystal palace',
 'Dunedin, New Zealand',
 'Winsford, England',
 'Waco, TX',
 'United States - Puerto Rico',
 'Sherwood Park, Alberta',
 'Melbourne, Vic',
 '164 Evans Ave. Etobicoke, Ont',
 'Lewisham, London',
 'Oakland CA, USA',
 'Davis, CA',
 'Philadelphia, Pennsylvania ',
 'San Gabriel, CA',
 '#DearneValley S.Yorkshire - UK',
 'London SE17',
 'Brussels',
 'SF Bay Area',
 'Phil HayÃ\x82Â\x92s basement',
 'West Chester, OH',
 'At the beach or wishing I was',
 'Bikeville ',
 'Austin, TX',
 'Inside ur tweeter & sub',
 'Jersey City, NJ',
 'Global: UK/USA/SG/HK/DE/CH',
 'Stockton, CA',
 'Manchester, Europe',
 'Bicester, England',
 'Georgia, USA',
 'Seattle Area',
 'Sydney, Australia ',
 'Southern Cali Desert',
 'Selangor , MY  ?',
 'Mississauga, ON',
 'Edmonton',
 'Lincoln, Nebraska',
 'Indianapolis, IN',
 'Derby',
 'Houston Tx',
 'Dublin,Ireland',
 'Milano, Lombardia',
 'CT, USA',
 'Texas',
 '501',
 'London, United Kingdom',
 'Brooklyn + Berlin',
 'Kenya',
 'Saint Helier, Bailiwick of Jer',
 "I'm right here!!!",
 'Clarence-Rockland, Ontario',
 'Chicagoland',
 'Castle Donington',
 'The Garden State',
 'Kuala Lumpur Malaysia',
 'NYC/OCNY',
 'Portland, OR ',
 'Ithaca, New York',
 'University of Canberra, Australia',
 'here',
 'Victoria, Australia',
 'Melbourne, Victoria',
 'Ocala, Florida',
 'Cuthbert, GA',
 'Bakersfield, CA',
 'Everywhere!!',
 'D.C.',
 'PA',
 'Lexington, NC',
 'Columbus, OH',
 'READ OVER 200+ ARTICLES ??',
 'Aberdeen, Scotland',
 'Lechlade',
 'Downers Grove, Il',
 'Brooklyn, NY, USA',
 'Tongva Land (Los Angeles)',
 'New Jersey',
 'Waikato',
 'Belfast, Northern Ireland',
 'Santa Rosa, CA',
 'Greenville, SC',
 'Porth, Wales',
 'Tickhill, England',
 'bay area',
 'England untied kingdom ',
 'Menasha, WI',
 'Austin-DFW-HOU-SA-NY-LA-Denver',
 'Trondheim, Norway',
 'Ile-de-France, France',
 'Brea, CA',
 'Colorado ',
 'Tampa, FL',
 'Southwest U.S.',
 'Exarcheia, Athens ',
 'NY',
 'Marshfield, WI',
 'Suva, Fiji',
 ' London, UK',
 'St. Louis, Missouri',
 'Dhaka, Bangladesh',
 'Lake Forest, IL/Halas Hall',
 'nowhere',
 'World',
 'Buenos Aires, Argentina',
 '?',
 'Louisiana, USA',
 'Pittsburgh, PA',
 'U.K.',
 'Rome, Latium',
 'facebook.com/FoodBankCENC',
 'Kansas City, Mo',
 'Chicago, Ill.',
 'MontrÃ\x83Â©al, Canada',
 'Singaporre',
 'USA, Europe, Brazil',
 'Dunedin City, New Zealand',
 'Richmond Hill, ON, Canada',
 'Ottawa, Ontario, Canada',
 'Vilnius',
 'Fremont, NE',
 'Ubersreik',
 'Cyprus',
 '454 West Broadway NY NY 10012 ',
 'Alaska, USA',
 'Shit Hole Cali',
 'Macon, Georgia',
 'Montgomery Village, MD',
 'Ewing, NJ',
 'Manila, Philippines',
 'High Point, NC',
 'Saskatoon, Saskatchewan, Canada',
 'Bengaluru',
 'Chandigarh, India',
 'Mumbai, Maharashtra',
 'Nevada, USA',
 'big d',
 'Hinckley, Leics, UK',
 'Alberta, Canada',
 'Los Angeles/London',
 'Southern Ontario ',
 'The Globe',
 'W Hollywood CA',
 'El Paso, TX',
 'Manhattan, KS',
 'Gateshead and Newcastle',
 'Washington, D.C. Area',
 'Santa Monica, CA',
 'Vineland, Ontatio',
 'Indiana State University',
 'Pomona, CA',
 'Leeds, England',
 'Paraparaumu Beach',
 '8 W 40th St.12th fl NY,NY10018',
 'Delft, The Netherlands',
 'Bandar Baru Bangi',
 'Ajax, Ontario ',
 'Israel ??',
 'Paducah Kentucky USA',
 'Ballarat, Victoria',
 'Wales, United Kingdom',
 '?? via ??, ??',
 'World Wide',
 'Miami, FL',
 'Torquay, Devon, UK',
 'Hamilton Ontario, Canada',
 'Germany - acting globally ',
 'Newcastle, Manchester & Liverpool',
 'Londinium',
 'Brooklyn, NY | she/her',
 '??, ???????',
 'Indianapolis, Indiana, USA',
 'Leeds',
 'From VA to SoCal',
 'New York, NY ',
 'Minnesota',
 'earth ?',
 'Ã\x83Â\x9cT: -32.98346,27.29361',
 'Milano, ITALY ,Europe,World',
 'Springfield, IL',
 'New York, NY Headquarters',
 'Porto | Portugal',
 'New Jersey, USA',
 'Burntwood, Staffs, England',
 'I live by the river',
 'Tamil Nadu, India',
 'Island of Misfit Black Girls',
 'Makati City',
 'Nevada, Iowa',
 'Nottingham . Hong Kong',
 'somewhere in Wiscansin',
 'Miami',
 ' England',
 'Interwebs',
 'Jamaica',
 'Britain',
 'Tolleson, AZ',
 'Bridgewater, NJ',
 'Stoke-on-Trent',
 'NYC',
 'Wakefield',
 'Lancashire, United Kingdom',
 '?eskÃ\x83Â¡ republika',
 'San Diego',
 'DC/Northern VA',
 'Wolverhampton, England',
 'Los Angeles',
 'Colorado, USA',
 'Boston, MA - Sofla & SE NC',
 'Singapore ',
 'Okinawa-shi, Okinawa',
 'Detroit, Mi',
 'Portsmouth, UK',
 'Indiana, USA',
 'Seattle, Wa',
 'Mongolia/ NZ',
 'Coimbatore, India',
 'Dublin City Centre',
 'Tasmania',
 'Toronto. Ontario, Canada',
 'texas',
 'New Mexico, USA',
 'Johnson City, TN',
 'Auckland, New Zealand',
 'South Carolina',
 'the internet',
 'Derbyshire, UK',
 'West Norfolk',
 'Earth!',
 'Ballinasloe ',
 'Buckeye State',
 'We Dont Call the Cops ',
 'Canada ',
 'Starke, Fl',
 'Jacksonville, FL',
 'Washington State, USA',
 'Melbourne, Victoria, Australia',
 'Stockholm, Sweden',
 'Republic of Korea',
 'In the shadows',
 'Maudlin Street',
 'Colchester',
 'Location Location Location',
 'Purmerend, The Netherlands',
 'Greater Chicago Area',
 'Rochester, NY',
 'Brisbane, Australia',
 'Dublin City, Ireland',
 'Austin, Tx',
 'Glendale, AZ',
 'Kingston, Ontario, Canada',
 'MÃ\x83Â¡laga, EspaÃ\x83Â±a',
 'Lindenhurst, IL  USA',
 'Liverpool, England',
 'Auckland City, New Zealand',
 'Boonwurrung land ',
 'Fort Wayne, Indiana',
 'Kansas City, Mo.',
 'Lubbock, TX',
 'Carlow / Kilkenny, Ireland',
 'Anchorage, AK',
 'Fargo, North Dakota',
 '????????',
 'Liverpool',
 'Lisboa, Portugal',
 'Field of West, Radstock ',
 'Lawrence KS',
 'Manila',
 'Northwest Hills, Connecticut. ',
 'Cheltenham, England',
 'uk',
 'Skippack, PA, USA',
 'London UK',

In [9]:
data.drop(data.index[[22,29,53,76,84,85,101,173,167,194,292,306,230,359,407,440,445,489,501,502,529,530,541,542,582,588,593,608,609,630,614,636,637,644,687,771,794,869,864,1037,1049,1050,1078,1143,1187,1225,1241,1475,1591,1647,1716,411,2188,32566,1962,2057,2076,2157,2192,2197,2201,2202,2206,2239,2242,2287,2326,2464,2465,2538,2824,3081,3719,3725,3896,4029,4051,4118,4235,4255,4280,4282,4334]],inplace=True)

In [10]:
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3804,48756,"ÃÂT: 36.319708,-82.363649",16-03-2020,As news of the regionÃÂs first confirmed COV...,Positive
4,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive
...,...,...,...,...,...,...
32561,44945,89897,"Gurgaon, India",14-04-2020,#Gold prices rose to a more than 7-year high t...,Positive
32562,44946,89898,"Brooklyn, NY",14-04-2020,YÃÂall really shitting that much more at hom...,Negative
32563,44948,89900,"Toronto, Ontario",14-04-2020,Still shocked by the number of #Toronto superm...,Negative
32564,44949,89901,OHIO,14-04-2020,I never that weÃÂd be in a situation &amp; w...,Positive
32565,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral

In [ ]:
"""data[data["Location"].str.contains('Everywhere You Are!|Where The Wild Things Are|FREE goal setting guide ??|I try to be politics free but will comment on Trump/GOP policy as the news is dominating tape.|d.|
????? ???? ????????|,Deep in the Wildernes','Arenys de Mar, PaÃ\x83Â¯sos Catalans','Right behind you :)',
'On Your Timeline','Everywhere & u are Never There','Somewhere gettin $$','Actionable advice here:',
'choose your thoughts wisely ','?????????','Disabled (with too many chromosomes) disease-ridden chronic illness & surgery survivor. Vegetarian resides MEL Disclaimer: RTs?endorsement!',
'EVERYWHERE!','To Infinity and Beyond','?901','liv','the bay ?','MontrÃ\x83Â©al, QuÃ\x83Â©bec','Near president Trump',
'Staying humble','???','...','ware','on your nerves','Mars','Next door ','? No DMs; contact Me here ?','??',
'Wadi el-Yawant.', ' ?? ???? ??? ????? ??????? ','#LeafNation #MagicFairyStyle ','She/ her',"Hell, if I don't change my way",
'You have no power over me.','????','Here, there, everywhere ','At the beach or wishing I was',"I'm right here!!!",
'Everywhere!!','READ OVER 200+ ARTICLES ??','here','?','big d','??, ???????','????????',..."""

In [13]:
data[data["Location"].str.contains("Wadi el-Yawant.|MontrÃ\x83Â©al, QuÃ\x83Â©bec")==False]

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3804,48756,"ÃÂT: 36.319708,-82.363649",16-03-2020,As news of the regionÃÂs first confirmed COV...,Positive
4,3805,48757,"35.926541,-78.753267",16-03-2020,Cashier at grocery store was sharing his insig...,Positive
...,...,...,...,...,...,...
32561,44945,89897,"Gurgaon, India",14-04-2020,#Gold prices rose to a more than 7-year high t...,Positive
32562,44946,89898,"Brooklyn, NY",14-04-2020,YÃÂall really shitting that much more at hom...,Negative
32563,44948,89900,"Toronto, Ontario",14-04-2020,Still shocked by the number of #Toronto superm...,Negative
32564,44949,89901,OHIO,14-04-2020,I never that weÃÂd be in a situation &amp; w...,Positive
32565,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral

In [14]:
data["Location"].isnull().sum()

0

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
cd=cleaned_data.head(50)

In [15]:
cv=CountVectorizer()

In [16]:
tra_d=cv.fit_transform(cd["Cleaned_tweet"])

In [17]:
type(tra_d)

scipy.sparse.csr.csr_matrix

In [18]:
cv.vocabulary_

{'menyrbie': 292,
 'philgahan': 350,
 'chrisitv': 67,
 'advice': 8,
 'talk': 485,
 'neighbour': 306,
 'family': 179,
 'exchange': 168,
 'phone': 352,
 'number': 321,
 'create': 116,
 'contact': 97,
 'list': 269,
 'school': 422,
 'employer': 154,
 'chemist': 64,
 'set': 430,
 'online': 327,
 'shopping': 437,
 'account': 1,
 'po': 358,
 'adequate': 5,
 'supply': 480,
 'regular': 392,
 'med': 291,
 'not': 318,
 'order': 330,
 'coronavirus': 101,
 'australia': 30,
 'woolworth': 540,
 'give': 202,
 'elderly': 153,
 'disabled': 139,
 'dedicated': 127,
 'hour': 229,
 'amid': 17,
 'covid': 112,
 'outbreak': 331,
 'food': 190,
 'stock': 465,
 'one': 326,
 'emptyplease': 156,
 'dont': 145,
 'panic': 338,
 'enough': 157,
 'everyone': 165,
 'take': 484,
 'need': 303,
 'stay': 462,
 'calm': 47,
 'safecovidfrance': 414,
 'confinement': 91,
 'confinementotal': 93,
 'confinementgeneral': 92,
 'ready': 387,
 'supermarket': 479,
 'outbreaknot': 332,
 'paranoid': 341,
 'litteraly': 270,
 'empty': 155,
 'serious': 428,
 'thing': 493,
 'please': 356,
 'cause': 58,
 'shortagecoronavirusfrance': 439,
 'restezchezvous': 400,
 'stayathome': 463,
 'news': 309,
 'region': 391,
 'first': 188,
 'confirmed': 94,
 'case': 55,
 'came': 48,
 'sullivan': 478,
 'county': 111,
 'last': 261,
 'week': 528,
 'people': 347,
 'flocked': 189,
 'area': 24,
 'store': 470,
 'purchase': 382,
 'cleaning': 73,
 'hand': 217,
 'sanitizer': 418,
 'toilet': 500,
 'paper': 340,
 'good': 208,
 'timdodson': 496,
 'report': 394,
 'cashier': 57,
 'grocery': 213,
 'sharing': 432,
 'insight': 244,
 'prove': 379,
 'credibility': 117,
 'commented': 84,
 'civics': 69,
 'class': 70,
 'know': 260,
 'talking': 486,
 'today': 499,
 'didnt': 135,
 'buy': 44,
 'rebeltoiletpapercrisis': 388,
 'due': 148,
 'retail': 405,
 'classroom': 71,
 'atlanta': 28,
 'open': 329,
 'walkin': 524,
 'business': 43,
 'next': 310,
 'two': 507,
 'beginning': 36,
 'monday': 294,
 'march': 286,
 'continue': 98,
 'process': 374,
 'normal': 316,
 'thank': 490,
 'understanding': 509,
 'corona': 99,
 'preventionwe': 371,
 'stop': 467,
 'cash': 56,
 'use': 516,
 'payment': 346,
 'method': 293,
 'spread': 457,
 'note': 319,
 'also': 13,
 'prefer': 367,
 'home': 226,
 'time': 497,
 'fight': 183,
 'govindia': 211,
 'indiafightscorona': 241,
 'month': 296,
 'hasnt': 218,
 'crowding': 119,
 'restaurant': 399,
 'however': 231,
 'reducing': 390,
 'closing': 76,
 'mall': 281,
 'mean': 290,
 'using': 517,
 'entrance': 160,
 'dependent': 134,
 'single': 444,
 'manila': 284,
 'lockdown': 274,
 'philippine': 351,
 'situation': 445,
 'increased': 240,
 'demand': 132,
 'product': 375,
 'wait': 523,
 'may': 289,
 'longer': 276,
 'particularly': 343,
 'beef': 35,
 'share': 431,
 'freezer': 197,
 'pack': 334,
 'patience': 345,
 'horningsea': 227,
 'caring': 54,
 'community': 85,
 'let': 264,
 'look': 277,
 'le': 262,
 'capable': 52,
 'village': 520,
 'ensure': 159,
 'healthy': 220,
 'bringing': 42,
 'door': 146,
 'help': 221,
 'self': 426,
 'isolation': 252,
 'symptom': 482,
 'exposed': 172,
 'somebody': 446,
 'ill': 234,
 'amazon': 16,
 'deliver': 129,
 'whatever': 533,
 'coronavirusamazon': 102,
 'adara': 4,
 'release': 393,
 'resource': 398,
 'center': 59,
 'travel': 504,
 'brand': 39,
 'uptodate': 514,
 'consumer': 96,
 'behavior': 37,
 'trend': 506,
 'line': 267,
 'unpredictable': 512,
 'eating': 151,
 'safe': 413,
 'alternative': 14,
 'find': 186,
 'whether': 535,
 'avoiding': 31,
 'right': 409,
 'eyeonthearctic': 175,
 'mar': 285,
 'russia': 412,
 'surveillance': 481,
 'watchdog': 526,
 'reported': 395,
 'high': 222,
 'arctic': 23,
 'man': 282,
 'traveled': 505,
 'iran': 249,
 'observed': 324,
 'glitch': 203,
 'stymy': 476,
 'whole': 537,
 'fresh': 198,
 'deliveriesas': 130,
 'weve': 532,
 'seen': 425,
 'significant': 442,
 'increase': 239,
 'spokeswoman': 454,
 'said': 416,
 'statement': 460,
 'resulted': 404,
 'system': 483,
 'impact': 236,
 'affecting': 9,
 'arent': 25,
 'struggling': 473,
 'consider': 95,
 'donating': 143,
 'bank': 33,
 'nonprofit': 315,
 'service': 429,
 'job': 256,
 'way': 527,
 'life': 265,
 'nation': 301,
 'inficted': 243,
 'world': 544,
 'must': 299,
 'play': 355,
 'fair': 177,
 'china': 65,
 'goverments': 210,
 'adopts': 6,
 'new': 308,
 'guilde': 214,
 'safty': 415,
 'chinese': 66,
 'goverment': 209,
 'guilty': 215,
 'irosponcible': 250,
 'global': 204,
 'scale': 421,
 'pandemic': 337,
 'impacting': 237,
 'decision': 126,
 'sale': 417,
 'according': 0,
 'study': 474,
 'amazing': 15,
 'cheap': 61,
 'deal': 125,
 'going': 205,
 'youtrialsmonthlyyearly': 549,
 'resonable': 397,
 'price': 372,
 'subscriptionsjust': 477,
 'bestiptv': 38,
 'iptv': 245,
 'iptvdeals': 246,
 'football': 192,
 'movie': 298,
 'adult': 7,
 'cinema': 68,
 'hotmovies': 228,
 'iptvnew': 248,
 'iptvlinks': 247,
 'downingstreet': 147,
 'grantshapps': 212,
 'done': 144,
 'essential': 162,
 'restocked': 401,
 'buying': 45,
 'actively': 3,
 'discouraged': 141,
 'left': 263,
 'checkout': 63,
 'staff': 458,
 'police': 360,
 'action': 2,
 'selfish': 427,
 'profiteer': 376,
 'poll': 361,
 'indicates': 242,
 'majority': 279,
 'expect': 169,
 'covids': 114,
 'tracker': 503,
 'see': 424,
 'full': 199,
 'result': 403,
 'retailx': 407,
 'confidence': 90,
 'preparation': 368,
 'higher': 223,
 'potential': 365,
 'shortage': 438,
 'hunger': 232,
 'coalition': 80,
 'purchased': 383,
 'percent': 349,
 'implemented': 238,
 'protocol': 378,
 'morning': 297,
 'tested': 489,
 'positive': 362,
 'feel': 182,
 'far': 181,
 'isolated': 251,
 'since': 443,
 'found': 194,
 'possible': 363,
 'exposure': 173,
 'virus': 522,
 'pragmatic': 366,
 'keep': 258,
 'updated': 513,
 'malicious': 280,
 'nyc': 322,
 'department': 133,
 'worker': 543,
 'protection': 377,
 'dcwp': 124,
 'page': 335,
 'digitally': 138,
 'file': 184,
 'complaint': 88,
 'click': 74,
 'wordovercharge': 541,
 'covidnyc': 113,
 'sealsoftheend': 423,
 'soon': 448,
 'dwindling': 150,
 'unlawful': 511,
 'panicky': 339,
 'breaking': 40,
 'closed': 75,
 'amp': 18,
 'raid': 386,
 'normally': 317,
 'crisis': 118,
 'massive': 288,
 'coronavirusstockupamplockup': 105,
 'country': 110,
 'shelf': 433,
 'ensues': 158,
 'hole': 225,
 'foodsimages': 191,
 'nicest': 311,
 'richest': 408,
 'neighborhood': 305,
 'united': 510,
 'statesbreakingnews': 461,
 'coronavirusoutbreak': 103,
 'collapse': 81,
 'closure': 77,
 'could': 109,
 'explode': 171,
 'via': 518,
 'cnbc': 79,
 'brickandmortar': 41,
 'fun': 200,
 'fact': 176,
 'cough': 107,
 'get': 201,
 'aisle': 11,
 'pretty': 370,
 'quicklycoronavirusoutbreak': 385,
 'sorry': 449,
 'say': 419,
 'finfabuk': 187,
 'event': 164,
 'cancelled': 49,
 'health': 219,
 'wellbeing': 530,
 'attendee': 29,
 'speaker': 453,
 'top': 501,
 'priority': 373,
 'apology': 22,
 'disappointment': 140,
 'faq': 180,
 'answered': 19,
 'link': 268,
 'went': 531,
 'yesterday': 547,
 'gone': 207,
 'anything': 21,
 'yes': 546,
 'needbut': 304,
 'whats': 534,
 'point': 359,
 'posting': 364,
 'photo': 353,
 'load': 272,
 'stuff': 475,
 'parent': 342,
 'kid': 259,
 'sibling': 440,
 'etc': 163,
 'cant': 51,
 'themselvesnot': 491,
 'everything': 166,
 'viral': 521,
 'alr': 12,
 'worried': 545,
 'current': 121,
 'finance': 185,
 'published': 381,
 'tip': 498,
 'manage': 283,
 'money': 295,
 'challenging': 60,
 'wife': 538,
 'work': 542,
 'retailampa': 406,
 'customer': 122,
 'coughing': 108,
 'everywhere': 167,
 'saying': 420,
 'requested': 396,
 'deep': 128,
 'clean': 72,
 'company': 87,
 'objected': 323,
 'cost': 106,
 'recommending': 389,
 'team': 488,
 'spray': 456,
 'disinfectantampclean': 142,
 'gon': 206,
 'dieget': 137,
 'sick': 441,
 'capitalism': 53,
 'like': 266,
 'without': 539,
 'judged': 257,
 'provide': 380,
 'experience': 170,
 'environment': 161,
 'associate': 27,
 'communityonline': 86,
 'placed': 354,
 'jlmco': 254,
 'jlmcobrand': 255,
 'coronapocolypse': 100,
 'shoponline': 435,
 'curious': 120,
 'think': 494,
 'shopper': 436,
 'lot': 278,
 'theyre': 492,
 'unable': 508,
 'spooked': 455,
 'extra': 174,
 'pair': 336,
 'shoe': 434,
 'economy': 152,
 'onlineshopping': 328,
 'stayhome': 464,
 'check': 62,
 'video': 519,
 'usa': 515,
 'market': 287,
 'die': 136,
 'starvation': 459,
 'houston': 230,
 'nofood': 312,
 'notoiletpaper': 320,
 'nohandshakes': 314,
 'nohandsanitizer': 313,
 'totallockdown': 502,
 'covidusa': 115,
 'walmart': 525,
 'story': 472,
 'clothes': 78,
 'rise': 410,
 'mysterious': 300,
 'white': 536,
 'patch': 344,
 'forming': 193,
 'quarantinelife': 384,
 'imadethisup': 235,
 'fakenews': 178,
 'outside': 333,
 'target': 487,
 'south': 451,
 'african': 10,
 'basic': 34,
 'hit': 224,
 'coronavirussa': 104,
 'someone': 447,
 'living': 271,
 'local': 273,
 'issue': 253,
 'around': 26,
 'offering': 325,
 'free': 195,
 'delivery': 131,
 'soup': 450,
 'nationwide': 302,
 'anyone': 20,
 'plus': 357,
 'freezable': 196,
 'half': 216,
 'completely': 89,
 'calling': 46,
 'dumb': 149,
 'idiot': 233,
 'lolcoronavirus': 275,
 'never': 307,
 'thought': 495,
 'come': 82,
 'back': 32,
 'peoplearelosingtheirminds': 348,
 'stopthemadness': 469,
 'stoppanicbuying': 468,
 'restriction': 402,
 'sparking': 452,
 'run': 411,
 'cannabis': 50,
 'storestheyre': 471,
 'yet': 548,
 'stocking': 466,
 'weekend': 529,
 'preparing': 369,
 'coming': 83,
 'day': 123}

In [19]:
pd.DataFrame(tra_d.toarray(),columns=sorted(cv.vocabulary_.keys()))

,according,account,action,actively,adara,adequate,adopts,adult,advice,affecting,...,woolworth,wordovercharge,work,worker,world,worried,yes,yesterday,yet,youtrialsmonthlyyearly
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
21,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
24,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
tf=TfidfVectorizer()

In [22]:
cond=tf.fit_transform(cd["Cleaned_tweet"])

In [23]:
cond.toarray()

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.18357717, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.2204227 ,
        0.        ]])

In [24]:
tf.vocabulary_

{'menyrbie': 292,
 'philgahan': 350,
 'chrisitv': 67,
 'advice': 8,
 'talk': 485,
 'neighbour': 306,
 'family': 179,
 'exchange': 168,
 'phone': 352,
 'number': 321,
 'create': 116,
 'contact': 97,
 'list': 269,
 'school': 422,
 'employer': 154,
 'chemist': 64,
 'set': 430,
 'online': 327,
 'shopping': 437,
 'account': 1,
 'po': 358,
 'adequate': 5,
 'supply': 480,
 'regular': 392,
 'med': 291,
 'not': 318,
 'order': 330,
 'coronavirus': 101,
 'australia': 30,
 'woolworth': 540,
 'give': 202,
 'elderly': 153,
 'disabled': 139,
 'dedicated': 127,
 'hour': 229,
 'amid': 17,
 'covid': 112,
 'outbreak': 331,
 'food': 190,
 'stock': 465,
 'one': 326,
 'emptyplease': 156,
 'dont': 145,
 'panic': 338,
 'enough': 157,
 'everyone': 165,
 'take': 484,
 'need': 303,
 'stay': 462,
 'calm': 47,
 'safecovidfrance': 414,
 'confinement': 91,
 'confinementotal': 93,
 'confinementgeneral': 92,
 'ready': 387,
 'supermarket': 479,
 'outbreaknot': 332,
 'paranoid': 341,
 'litteraly': 270,
 'empty': 155,
 'serious': 428,
 'thing': 493,
 'please': 356,
 'cause': 58,
 'shortagecoronavirusfrance': 439,
 'restezchezvous': 400,
 'stayathome': 463,
 'news': 309,
 'region': 391,
 'first': 188,
 'confirmed': 94,
 'case': 55,
 'came': 48,
 'sullivan': 478,
 'county': 111,
 'last': 261,
 'week': 528,
 'people': 347,
 'flocked': 189,
 'area': 24,
 'store': 470,
 'purchase': 382,
 'cleaning': 73,
 'hand': 217,
 'sanitizer': 418,
 'toilet': 500,
 'paper': 340,
 'good': 208,
 'timdodson': 496,
 'report': 394,
 'cashier': 57,
 'grocery': 213,
 'sharing': 432,
 'insight': 244,
 'prove': 379,
 'credibility': 117,
 'commented': 84,
 'civics': 69,
 'class': 70,
 'know': 260,
 'talking': 486,
 'today': 499,
 'didnt': 135,
 'buy': 44,
 'rebeltoiletpapercrisis': 388,
 'due': 148,
 'retail': 405,
 'classroom': 71,
 'atlanta': 28,
 'open': 329,
 'walkin': 524,
 'business': 43,
 'next': 310,
 'two': 507,
 'beginning': 36,
 'monday': 294,
 'march': 286,
 'continue': 98,
 'process': 374,
 'normal': 316,
 'thank': 490,
 'understanding': 509,
 'corona': 99,
 'preventionwe': 371,
 'stop': 467,
 'cash': 56,
 'use': 516,
 'payment': 346,
 'method': 293,
 'spread': 457,
 'note': 319,
 'also': 13,
 'prefer': 367,
 'home': 226,
 'time': 497,
 'fight': 183,
 'govindia': 211,
 'indiafightscorona': 241,
 'month': 296,
 'hasnt': 218,
 'crowding': 119,
 'restaurant': 399,
 'however': 231,
 'reducing': 390,
 'closing': 76,
 'mall': 281,
 'mean': 290,
 'using': 517,
 'entrance': 160,
 'dependent': 134,
 'single': 444,
 'manila': 284,
 'lockdown': 274,
 'philippine': 351,
 'situation': 445,
 'increased': 240,
 'demand': 132,
 'product': 375,
 'wait': 523,
 'may': 289,
 'longer': 276,
 'particularly': 343,
 'beef': 35,
 'share': 431,
 'freezer': 197,
 'pack': 334,
 'patience': 345,
 'horningsea': 227,
 'caring': 54,
 'community': 85,
 'let': 264,
 'look': 277,
 'le': 262,
 'capable': 52,
 'village': 520,
 'ensure': 159,
 'healthy': 220,
 'bringing': 42,
 'door': 146,
 'help': 221,
 'self': 426,
 'isolation': 252,
 'symptom': 482,
 'exposed': 172,
 'somebody': 446,
 'ill': 234,
 'amazon': 16,
 'deliver': 129,
 'whatever': 533,
 'coronavirusamazon': 102,
 'adara': 4,
 'release': 393,
 'resource': 398,
 'center': 59,
 'travel': 504,
 'brand': 39,
 'uptodate': 514,
 'consumer': 96,
 'behavior': 37,
 'trend': 506,
 'line': 267,
 'unpredictable': 512,
 'eating': 151,
 'safe': 413,
 'alternative': 14,
 'find': 186,
 'whether': 535,
 'avoiding': 31,
 'right': 409,
 'eyeonthearctic': 175,
 'mar': 285,
 'russia': 412,
 'surveillance': 481,
 'watchdog': 526,
 'reported': 395,
 'high': 222,
 'arctic': 23,
 'man': 282,
 'traveled': 505,
 'iran': 249,
 'observed': 324,
 'glitch': 203,
 'stymy': 476,
 'whole': 537,
 'fresh': 198,
 'deliveriesas': 130,
 'weve': 532,
 'seen': 425,
 'significant': 442,
 'increase': 239,
 'spokeswoman': 454,
 'said': 416,
 'statement': 460,
 'resulted': 404,
 'system': 483,
 'impact': 236,
 'affecting': 9,
 'arent': 25,
 'struggling': 473,
 'consider': 95,
 'donating': 143,
 'bank': 33,
 'nonprofit': 315,
 'service': 429,
 'job': 256,
 'way': 527,
 'life': 265,
 'nation': 301,
 'inficted': 243,
 'world': 544,
 'must': 299,
 'play': 355,
 'fair': 177,
 'china': 65,
 'goverments': 210,
 'adopts': 6,
 'new': 308,
 'guilde': 214,
 'safty': 415,
 'chinese': 66,
 'goverment': 209,
 'guilty': 215,
 'irosponcible': 250,
 'global': 204,
 'scale': 421,
 'pandemic': 337,
 'impacting': 237,
 'decision': 126,
 'sale': 417,
 'according': 0,
 'study': 474,
 'amazing': 15,
 'cheap': 61,
 'deal': 125,
 'going': 205,
 'youtrialsmonthlyyearly': 549,
 'resonable': 397,
 'price': 372,
 'subscriptionsjust': 477,
 'bestiptv': 38,
 'iptv': 245,
 'iptvdeals': 246,
 'football': 192,
 'movie': 298,
 'adult': 7,
 'cinema': 68,
 'hotmovies': 228,
 'iptvnew': 248,
 'iptvlinks': 247,
 'downingstreet': 147,
 'grantshapps': 212,
 'done': 144,
 'essential': 162,
 'restocked': 401,
 'buying': 45,
 'actively': 3,
 'discouraged': 141,
 'left': 263,
 'checkout': 63,
 'staff': 458,
 'police': 360,
 'action': 2,
 'selfish': 427,
 'profiteer': 376,
 'poll': 361,
 'indicates': 242,
 'majority': 279,
 'expect': 169,
 'covids': 114,
 'tracker': 503,
 'see': 424,
 'full': 199,
 'result': 403,
 'retailx': 407,
 'confidence': 90,
 'preparation': 368,
 'higher': 223,
 'potential': 365,
 'shortage': 438,
 'hunger': 232,
 'coalition': 80,
 'purchased': 383,
 'percent': 349,
 'implemented': 238,
 'protocol': 378,
 'morning': 297,
 'tested': 489,
 'positive': 362,
 'feel': 182,
 'far': 181,
 'isolated': 251,
 'since': 443,
 'found': 194,
 'possible': 363,
 'exposure': 173,
 'virus': 522,
 'pragmatic': 366,
 'keep': 258,
 'updated': 513,
 'malicious': 280,
 'nyc': 322,
 'department': 133,
 'worker': 543,
 'protection': 377,
 'dcwp': 124,
 'page': 335,
 'digitally': 138,
 'file': 184,
 'complaint': 88,
 'click': 74,
 'wordovercharge': 541,
 'covidnyc': 113,
 'sealsoftheend': 423,
 'soon': 448,
 'dwindling': 150,
 'unlawful': 511,
 'panicky': 339,
 'breaking': 40,
 'closed': 75,
 'amp': 18,
 'raid': 386,
 'normally': 317,
 'crisis': 118,
 'massive': 288,
 'coronavirusstockupamplockup': 105,
 'country': 110,
 'shelf': 433,
 'ensues': 158,
 'hole': 225,
 'foodsimages': 191,
 'nicest': 311,
 'richest': 408,
 'neighborhood': 305,
 'united': 510,
 'statesbreakingnews': 461,
 'coronavirusoutbreak': 103,
 'collapse': 81,
 'closure': 77,
 'could': 109,
 'explode': 171,
 'via': 518,
 'cnbc': 79,
 'brickandmortar': 41,
 'fun': 200,
 'fact': 176,
 'cough': 107,
 'get': 201,
 'aisle': 11,
 'pretty': 370,
 'quicklycoronavirusoutbreak': 385,
 'sorry': 449,
 'say': 419,
 'finfabuk': 187,
 'event': 164,
 'cancelled': 49,
 'health': 219,
 'wellbeing': 530,
 'attendee': 29,
 'speaker': 453,
 'top': 501,
 'priority': 373,
 'apology': 22,
 'disappointment': 140,
 'faq': 180,
 'answered': 19,
 'link': 268,
 'went': 531,
 'yesterday': 547,
 'gone': 207,
 'anything': 21,
 'yes': 546,
 'needbut': 304,
 'whats': 534,
 'point': 359,
 'posting': 364,
 'photo': 353,
 'load': 272,
 'stuff': 475,
 'parent': 342,
 'kid': 259,
 'sibling': 440,
 'etc': 163,
 'cant': 51,
 'themselvesnot': 491,
 'everything': 166,
 'viral': 521,
 'alr': 12,
 'worried': 545,
 'current': 121,
 'finance': 185,
 'published': 381,
 'tip': 498,
 'manage': 283,
 'money': 295,
 'challenging': 60,
 'wife': 538,
 'work': 542,
 'retailampa': 406,
 'customer': 122,
 'coughing': 108,
 'everywhere': 167,
 'saying': 420,
 'requested': 396,
 'deep': 128,
 'clean': 72,
 'company': 87,
 'objected': 323,
 'cost': 106,
 'recommending': 389,
 'team': 488,
 'spray': 456,
 'disinfectantampclean': 142,
 'gon': 206,
 'dieget': 137,
 'sick': 441,
 'capitalism': 53,
 'like': 266,
 'without': 539,
 'judged': 257,
 'provide': 380,
 'experience': 170,
 'environment': 161,
 'associate': 27,
 'communityonline': 86,
 'placed': 354,
 'jlmco': 254,
 'jlmcobrand': 255,
 'coronapocolypse': 100,
 'shoponline': 435,
 'curious': 120,
 'think': 494,
 'shopper': 436,
 'lot': 278,
 'theyre': 492,
 'unable': 508,
 'spooked': 455,
 'extra': 174,
 'pair': 336,
 'shoe': 434,
 'economy': 152,
 'onlineshopping': 328,
 'stayhome': 464,
 'check': 62,
 'video': 519,
 'usa': 515,
 'market': 287,
 'die': 136,
 'starvation': 459,
 'houston': 230,
 'nofood': 312,
 'notoiletpaper': 320,
 'nohandshakes': 314,
 'nohandsanitizer': 313,
 'totallockdown': 502,
 'covidusa': 115,
 'walmart': 525,
 'story': 472,
 'clothes': 78,
 'rise': 410,
 'mysterious': 300,
 'white': 536,
 'patch': 344,
 'forming': 193,
 'quarantinelife': 384,
 'imadethisup': 235,
 'fakenews': 178,
 'outside': 333,
 'target': 487,
 'south': 451,
 'african': 10,
 'basic': 34,
 'hit': 224,
 'coronavirussa': 104,
 'someone': 447,
 'living': 271,
 'local': 273,
 'issue': 253,
 'around': 26,
 'offering': 325,
 'free': 195,
 'delivery': 131,
 'soup': 450,
 'nationwide': 302,
 'anyone': 20,
 'plus': 357,
 'freezable': 196,
 'half': 216,
 'completely': 89,
 'calling': 46,
 'dumb': 149,
 'idiot': 233,
 'lolcoronavirus': 275,
 'never': 307,
 'thought': 495,
 'come': 82,
 'back': 32,
 'peoplearelosingtheirminds': 348,
 'stopthemadness': 469,
 'stoppanicbuying': 468,
 'restriction': 402,
 'sparking': 452,
 'run': 411,
 'cannabis': 50,
 'storestheyre': 471,
 'yet': 548,
 'stocking': 466,
 'weekend': 529,
 'preparing': 369,
 'coming': 83,
 'day': 123}

In [25]:
pd.DataFrame(cond.toarray(),columns=sorted(tf.vocabulary_.keys()))

,according,account,action,actively,adara,adequate,adopts,adult,advice,affecting,...,woolworth,wordovercharge,work,worker,world,worried,yes,yesterday,yet,youtrialsmonthlyyearly
0,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.00000,0.183577,0.00000,0.00000,0.000000,0.183577,0.000000,0.000000,0.183577,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.327361,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.00000,0.000000,0.00000,0.00000,0.211654,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.219017,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.193052,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.193052,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.30648,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.317345,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.158672
23,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.158672,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.158672
24,0.00000,0.000000,0.23687,0.23687,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.195026,0.000000,0.195026,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.334006,0.000000,0.000000
36,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.207933,0.000000,0.000000,0.000000
37,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.291689,0.000000,0.000000,0.000000,0.000000
38,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.202926,0.000000,0.000000,0.000000,0.000000,0.183514,0.000000,0.000000
39,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
41,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
42,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
43,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
45,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
46,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
47,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
48,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
49,0.00000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.220423,0.000000