# Task 1

### 1) Write a program to get the data type of a data

In [4]:
var1=int(input("Enter the number:"))
print("Data type of the given data is :",type(var1))

Enter the number:10
Data type of the given data is : <class 'int'>

### 2) Write a program to convert a integer data type to float data type

In [9]:
var2=int(input("Enter the number:"))
print("float of given integer :",float(var2))

Enter the number:25
float of given integer : 25.0

### 3) Write a program to convert a integer data type to float data type and vice versa

In [10]:
var3=int(input("Enter the number:"))
print("float of given integer :",float(var3))
print("string of given integer :",str(var3))
print("complex of given integer :",complex(var3))

Enter the number:12
float of given integer : 12.0
string of given integer : 12
complex of given integer : (12+0j)

### 4) Write a programme to get the actual location of the data

In [12]:
a=[1,2,"a","b","c"]
print("The actual location of a is :",a.index("a"))

The actual location of a is : 2

### 5) Give an example of implict conversion and explict conversion

In [25]:
# Implicit conversion-Python interpreter converts one data type to another data type automatically 
a=1.1
b=2+4j
print("sum of a and b is :",a+b)

sum of a and b is : (3.1+4j)

In [26]:
# Explicit conversion-When user or we converts one data type to another data type
x="abcde"
print(tuple(x))

('a', 'b', 'c', 'd', 'e')

### 6) Write a programme to prove that python is a case senstive language

In [16]:
user_name='sobana'
print(User_name)

NameError: name 'User_name' is not defined

### 7) Write a programme to get a syntax error

In [17]:
z=int(input("Enter the number:"))
if z%7==0
    print("Number is divisible by 7")
else:
    print("Number is not divisible by 7")

SyntaxError: invalid syntax (4047966703.py, line 2)

### 8) Write a programme to get a type error

In [20]:
x="abcdef"      
x.index()

TypeError: index() takes at least 1 argument (0 given)

### 9) Give an example of mulitple statement in a single line

In [21]:
1+2 ; 3+5 ; 6+9

15

### 10) Give an example of single line statement in multiple line

In [23]:
1\
+\
2

3