In [1]:
import nltk

In [2]:
sen="Biryani is good"

In [4]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [5]:
word_tokenize(sen)

['Biryani', 'is', 'good']

In [10]:
par="Biryani is good. biryani is bad. biryani is nor good.?"

In [11]:
sent_tokenize(par)

['Biryani is good.', 'biryani is bad.', 'biryani is nor good.', '?']

In [12]:
from nltk.corpus import stopwords

In [14]:
stp=stopwords.words("english")
print(stp)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [22]:
from nltk.stem import PorterStemmer,LancasterStemmer,SnowballStemmer,WordNetLemmatizer

In [23]:
x="While India has not explicitly condemned the war in Ukraine,it has raised the issue of food,fuel and fertiliser shortage impacting the Global South"

In [24]:
y=word_tokenize(x)
y

['While',
 'India',
 'has',
 'not',
 'explicitly',
 'condemned',
 'the',
 'war',
 'in',
 'Ukraine',
 ',',
 'it',
 'has',
 'raised',
 'the',
 'issue',
 'of',
 'food',
 ',',
 'fuel',
 'and',
 'fertiliser',
 'shortage',
 'impacting',
 'the',
 'Global',
 'South']

In [26]:
or_word=[]
por_st=[]
lan_st=[]
sn_st=[]
wn_st=[]
for word in y:
    or_word.append(word)
    por_st.append(PorterStemmer().stem(word))
    lan_st.append(LancasterStemmer().stem(word))
    sn_st.append(SnowballStemmer("english").stem(word))
    wn_st.append(WordNetLemmatizer().lemmatize(word))

In [28]:
import pandas as pd
data=pd.DataFrame({"original":or_word,"porter":por_st,"lancs":lan_st,"snow":sn_st,"wordnt":wn_st})
data

      original      porter     lancs      snow      wordnt
0        While       while      whil     while       While
1        India       india       ind     india       India
2          has          ha       has       has          ha
3          not         not       not       not         not
4   explicitly  explicitli  explicit  explicit  explicitly
5    condemned     condemn   condemn   condemn   condemned
6          the         the       the       the         the
7          war         war       war       war         war
8           in          in        in        in          in
9      Ukraine      ukrain    ukrain    ukrain     Ukraine
10           ,           ,         ,         ,           ,
11          it          it        it        it          it
12         has          ha       has       has          ha
13      raised        rais      rais      rais      raised
14         the         the       the       the         the
15       issue        issu      issu      issu       issue
16          of          of        of        of          of
17        food        food      food      food        food
18           ,           ,         ,         ,           ,
19        fuel        fuel      fuel      fuel        fuel
20         and         and       and       and         and
21  fertiliser    fertilis    fertil  fertilis  fertiliser
22    shortage     shortag     short   shortag    shortage
23   impacting      impact    impact    impact   impacting
24         the         the       the       the         the
25      Global      global      glob    global      Global
26       South       south       sou     south       South

In [35]:
import re
w="https://hp/sdfff\dff word1 word2 www.google.com"
re.findall("https?;//\S*|www\S*",x)

[]

In [32]:
pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\sss\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: tqdm in c:\users\sss\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\sss\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: joblib in c:\users\sss\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: click in c:\users\sss\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: colorama in c:\users\sss\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Installing collected packages: textblob
Successfully installed textblob-0.17.1
Note: you may need to restart the kernel to use updated packages.

In [33]:
from textblob import TextBlob
var=TextBlob("mchine learing")
var.correct().string

'machine leaving'

In [34]:
pip install emoji

Collecting emoji
  Downloading emoji-2.2.0.tar.gz (240 kB)
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py): started
  Building wheel for emoji (setup.py): finished with status 'done'
  Created wheel for emoji: filename=emoji-2.2.0-py3-none-any.whl size=234927 sha256=95d592c170be3c711f637b44442fab60855f8c12a0317da27ffbca6ec73dc22a
  Stored in directory: c:\users\sss\appdata\local\pip\cache\wheels\9a\b8\0f\f580817231cbf59f6ade9fd132ff60ada1de9f7dc85521f857
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [36]:
x="I say 👍"
import emoji
emoji.demojize(x)

'I say :thumbs_up:'

In [39]:
pip install translate

Collecting translateNote: you may need to restart the kernel to use updated packages.
  Downloading translate-3.6.1-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: requests in c:\users\sss\anaconda3\lib\site-packages (from translate) (2.27.1)
Requirement already satisfied: lxml in c:\users\sss\anaconda3\lib\site-packages (from translate) (4.8.0)
Collecting libretranslatepy==2.1.1
  Downloading libretranslatepy-2.1.1-py3-none-any.whl (3.2 kB)
Requirement already satisfied: click in c:\users\sss\anaconda3\lib\site-packages (from translate) (8.0.4)
Requirement already satisfied: colorama in c:\users\sss\anaconda3\lib\site-packages (from click->translate) (0.4.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sss\anaconda3\lib\site-packages (from requests->translate) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\sss\anaconda3\lib\site-packages (from requests->translate) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sss\anaconda3\lib\site-packages (from requests->translate) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sss\anaconda3\lib\site-packages (from requests->translate) (3.3)
Installing collected packages: libretranslatepy, translate
Successfully installed libretranslatepy-2.1.1 translate-3.6.1

In [41]:
from translate import Translator
translator=Translator(from_lang="hindi",to_lang="en")
translation=translator.translate("धन्यवाद")

In [42]:
translation

'Thankyou'

In [43]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [44]:
import pandas as pd

In [45]:
data=pd.read_csv(r"C:\Users\SSS\Downloads\bbc-text.csv")
data

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [46]:
data["category"].unique()

array(['tech', 'business', 'sport', 'entertainment', 'politics'],
      dtype=object)

In [47]:
lb=LabelEncoder()

In [48]:
n=lb.fit_transform(data["category"])   # lb have unique words
n

array([4, 0, 3, ..., 1, 2, 3])

In [49]:
lb.classes_

array(['business', 'entertainment', 'politics', 'sport', 'tech'],
      dtype=object)

In [50]:
data["new_label"]=n

In [51]:
data

,category,text,new_label
0,tech,tv future in the hands of viewers with home th...,4
1,business,worldcom boss left books alone former worldc...,0
2,sport,tigers wary of farrell gamble leicester say ...,3
3,sport,yeading face newcastle in fa cup premiership s...,3
4,entertainment,ocean s twelve raids box office ocean s twelve...,1
...,...,...,...
2220,business,cars pull down us retail figures us retail sal...,0
2221,politics,kilroy unveils immigration policy ex-chatshow ...,2
2222,entertainment,rem announce new glasgow concert us band rem h...,1
2223,politics,how political squabbles snowball it s become c...,2
2224,sport,souness delight at euro progress boss graeme s...,3

In [52]:
oh=OneHotEncoder()

In [54]:
o=oh.fit_transform(data[["category"]])
o

<2225x5 sparse matrix of type '<class 'numpy.float64'>'
	with 2225 stored elements in Compressed Sparse Row format>

In [55]:
o.toarray()

array([[0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [56]:
oh.categories_

[array(['business', 'entertainment', 'politics', 'sport', 'tech'],
       dtype=object)]

In [57]:
pd.DataFrame(o.toarray(),columns=oh.categories_).applymap(int)

     business entertainment politics sport tech
0           0             0        0     0    1
1           1             0        0     0    0
2           0             0        0     1    0
3           0             0        0     1    0
4           0             1        0     0    0
...       ...           ...      ...   ...  ...
2220        1             0        0     0    0
2221        0             0        1     0    0
2222        0             1        0     0    0
2223        0             0        1     0    0
2224        0             0        0     1    0

[2225 rows x 5 columns]